<a href="https://colab.research.google.com/github/alvaroforner/Data_Engineer_test_AFD/blob/main/Copia_de_Copia_de_Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os
import requests

In [5]:
# Global variables
api =  "https://api.themoviedb.org/3/movie/top_rated?api_key=d73d7e5e4c1dda40808ef100a89f97c1&language=en-US&page=1"
#input_parameter = 278
#api_key = "d73d7e5e4c1dda40808ef100a89f97c1"

#The user is asked to indicate the Airline ID they wish to have on their DB.
#input_parameter = input("Enter an Airline ID: ")
#print(input_parameter)

Enter an Airline ID: 278
278

In [4]:
#The functions are declared

def database_generator(api):
  response = requests.get(api)
  response.json()["results"]
  airlines_db = pd.DataFrame(response.json()['results'])[['id', 'title',\
            'overview', 'popularity', 'release_date', 'vote_average', 'vote_count' ]]
  return airlines_db

def database_writer(airlines_db):
  airlines_db.to_csv('airlines_db.txt', sep=';', index = False, encoding='utf-8')


def buscador_id(api, input_parameter):
  response = requests.get(api)
  response.json()["results"]
  airlines_tmp = pd.DataFrame(response.json()['results'])[['id', 'title',\
            'overview', 'popularity', 'release_date', 'vote_average', 'vote_count' ]]
  fcond1 = airlines_tmp['id'] == input_parameter
  airlines_search = airlines_tmp[fcond1]
  if airlines_search.shape[0] != 0:
    print("Registro localizado en la plataforma de airlines")
    return airlines_search
  else: 
    print("Idnetificador no localizado en la plataforma de airlines. Introduzca otro ID")

In [6]:

#Check if the DB exists, if not a new DB called Airlines_DB is created.
try:

  df_db = pd.read_csv('airlines_db.txt', sep=";")
  print("Database read successfully. You can proceed with the following steps")

except:
  print("Database not found. A new database is generated.")
  airlines_db = database_generator(api)
  database_writer(airlines_db)
  print("Database successfully generated. Name: Airlines_DB")

airline_reg = buscador_id(api, input_parameter)

Database not found. A new database is generated.
Database successfully generated. Name: Airlines_DB
Idnetificador no localizado en la plataforma de airlines. Introduzca otro ID

In [ ]:
def database_generator(api):
  response = requests.get(api)
  response.json()["results"]
  airlines_db = pd.DataFrame(response.json()['results'])[['id', 'title',\
            'overview', 'popularity', 'release_date', 'vote_average', 'vote_count' ]]
  return airlines_db

def database_writer(airlines_db):
  airlines_db.to_csv('airlines_db.txt', sep=';', index = False, encoding='utf-8')


def buscador_id(api, input_parameter):
  response = requests.get(api)
  response.json()["results"]
  airlines_tmp = pd.DataFrame(response.json()['results'])[['id', 'title',\
            'overview', 'popularity', 'release_date', 'vote_average', 'vote_count' ]]
  fcond1 = airlines_tmp['id'] == input_parameter
  airlines_search = airlines_tmp[fcond1]
  if airlines_search.shape[0] != 0:
    print("Registro localizado en la plataforma de airlines")
    return airlines_search
  else: 
    print("Idnetificador no localizado en la plataforma de airlines. Introduzca otro ID")

In [ ]:
for i in range (1, 429):
  response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=d73d7e5e4c1dda40808ef100a89f97c1&language=en-US&page= {}".format(i))
  temp_df = pd.DataFrame(response.json()['results'])[['id', 'title',\
            'overview', 'popularity', 'release_date', 'vote_average', 'vote_count' ]]
  data.append(temp_df, ignore_index = False)

In [ ]:
id = airlines_search.at[0,'id']

In [ ]:
airlines_search

,id,title,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,58.86,1994-09-23,8.7,21571

In [ ]:
# chek id in database

def check_id(x, input_parameter):
  if x['id'] == input_parameter:
    res = "T"
  else:
    res = "F"
  return res

df_db['check'] = df_db.apply(lambda x: check_id(x, input_parameter), axis = 'columns')

fcond = df_db['check'] == "F"
df_db = df_db[fcond]
df_db.drop(['check'], axis=1, inplace = True)
df_db

,id,title,overview,popularity,release_date,vote_average,vote_count
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",19.239,1995-10-20,8.7,3677
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",58.260,1972-03-14,8.7,16068
3,424,Schindler's List,The true story of how businessman Oskar Schind...,38.381,1993-11-30,8.6,12836
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,40.009,1974-12-20,8.6,9687
5,667257,Impossible Things,A widow who is tormented by the memory of her ...,25.565,2021-06-17,8.6,242
6,372754,Dou kyu sei – Classmates,"Rihito Sajo, an honor student with a perfect s...",10.974,2016-02-20,8.6,230
7,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",72.959,2001-07-20,8.5,12918
8,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,182.369,2016-08-26,8.5,8769
9,696374,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,11.231,2020-05-29,8.5,2247
10,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",64.995,2019-05-30,8.5,13817
11,389,12 Angry Men,The defense and the prosecution have rested an...,27.881,1957-04-10,8.5,6456
12,730154,Your Eyes Tell,"A tragic accident lead to Kaori's blindness, b...",68.501,2020-10-23,8.5,319
13,533514,Violet Evergarden: The Movie,As the world moves on from the war and technol...,17.828,2020-09-18,8.5,234
14,724089,Gabriel's Inferno: Part II,Professor Gabriel Emerson finally learns the t...,9.297,2020-07-31,8.5,1414
15,497,The Green Mile,A supernatural tale set on death row in a Sout...,58.946,1999-12-10,8.5,14006
16,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,75.793,2008-07-14,8.5,27686
17,761053,Gabriel's Inferno: Part III,The final part of the film adaption of the ero...,25.146,2020-11-19,8.5,965
18,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",59.698,1994-09-10,8.5,23258
19,429,"The Good, the Bad and the Ugly",While the Civil War rages between the Union an...,34.200,1966-12-23,8.5,6663

In [ ]:
fcond = df_db['check'] == "T"
fcond

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: check, dtype: bool